
#1
{    
position: absolute;
width: 257px;
height: 219px;w
left: 419px;
top: 231px;
}

#2
{
position: absolute;
width: 257px;
height: 219px;
left: 419px;
top: 512px;
}
#3{
position: absolute;
width: 257px;
height: 219px;
left: 724px;
top: 231px;
}
#4{
position: absolute;
width: 257px;
height: 219px;
left: 724px;
top: 512px;
}
#5{
position: absolute;
width: 257px;
height: 219px;
left: 1029px;
top: 231px;
}
#6{
position: absolute;
width: 257px;
height: 219px;
left: 1029px;
top: 512px;
}
}